In [1]:
%load_ext bigdata
%hive_start
%timeout 300

In [12]:
!hdfs dfs -rm -r -f /tmp
!hdfs dfs -mkdir /tmp/output
!hdfs dfs -ls /tmp/output/

Deleted /tmp
mkdir: `/tmp/output': No such file or directory
copyFromLocal: `/tmp/output/': No such file or directory: `hdfs://0.0.0.0:9000/tmp/output'
ls: `/tmp/output/': No such file or directory

In [33]:
!hdfs dfs -copyFromLocal data.tsv /tmp/output/

In [35]:
%%hive

DROP TABLE IF EXISTS datos;

CREATE TABLE datos (letra       STRING,
                   fecha       STRING,
                   numero      INT
                  )

ROW FORMAT DELIMITED FIELDS TERMINATED BY '\t';

DROP TABLE IF EXISTS datos;
OK
Time taken: 0.521 seconds
CREATE TABLE datos (letra       STRING,
                   fecha       STRING,
                   numero      INT
                  )
ROW FORMAT DELIMITED FIELDS TERMINATED BY '\t';
OK
Time taken: 0.049 seconds

In [36]:
%%hive
LOAD DATA INPATH '/tmp/output/data.tsv' OVERWRITE
INTO TABLE datos;

LOAD DATA INPATH '/tmp/output/data.tsv' OVERWRITE
INTO TABLE datos;
Loading data to table default.datos
OK
Time taken: 0.507 seconds

In [37]:
%%hive 
SELECT * FROM datos LIMIT 5;

SELECT * FROM datos LIMIT 5;
OK
B	1999-08-28	14
E	1999-12-06	12
E	1993-07-21	17
C	1991-02-12	13
E	1995-04-25	16
Time taken: 0.112 seconds, Fetched: 5 row(s)

In [38]:
%%hive
DROP TABLE IF EXISTS ordenado;

CREATE TABLE ordenado
AS
SELECT * FROM datos
    ORDER BY letra, numero;

INSERT OVERWRITE DIRECTORY '/tmp/output'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
SELECT * FROM ordenado;

DROP TABLE IF EXISTS ordenado;
OK
Time taken: 0.074 seconds
CREATE TABLE ordenado
AS
SELECT * FROM datos
    ORDER BY letra, numero;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200118194730_6e71f851-9472-444e-84e2-e1d68e095c2d
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1579375176863_0007, Tracking URL = http://5601d811d528:8088/proxy/application_1579375176863_0007/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1579375176863_0007
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2020-01-18 19:47:37,099 Stage-1 map = 0%,  reduce = 0%
2020-01-18 19:47:42,987 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 1.67 sec
2020-01-18 19:47:49,429 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 3.34 sec
MapReduce Total cumulative CPU time: 3 seconds 340 msec
Ended Job = job_1579375176863_0007
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/ordenado
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 3.34 sec   HDFS Read: 7851 HDFS Write: 710 SUCCESS
Total MapReduce CPU Time Spent: 3 seconds 340 msec
OK
Time taken: 20.134 seconds
INSERT OVERWRITE DIRECTORY '/tmp/output'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
SELECT * FROM ordenado;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200118194751_b65f7569-2d65-48a3-a86d-5bbd9037e455
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks is set to 0 since there's no reduce operator
Starting Job = job_1579375176863_0008, Tracking URL = http://5601d811d528:8088/proxy/application_1579375176863_0008/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1579375176863_0008
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 0
2020-01-18 19:48:03,052 Stage-1 map = 0%,  reduce = 0%
2020-01-18 19:48:08,775 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 1.12 sec
MapReduce Total cumulative CPU time: 1 seconds 120 msec
Ended Job = job_1579375176863_0008
Stage-3 is selected by condition resolver.
Stage-2 is filtered out by condition resolver.
Stage-4 is filtered out by condition resolver.
Moving data to directory hdfs://0.0.0.0:9000/tmp/output/.hive-staging_hive_2020-01-18_19-47-51_155_6190007980461868923-1/-ext-10000
Moving data to directory /tmp/output
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1   Cumulative CPU: 1.12 sec   HDFS Read: 4137 HDFS Write: 637 SUCCESS
Total MapReduce CPU Time Spent: 1 seconds 120 msec
OK
Time taken: 18.73 seconds

In [39]:
!hdfs dfs -copyToLocal /tmp/output output;

In [40]:
%hive_quit

In [41]:
!hdfs dfs -rm -r -f /tmp

Deleted /tmp

In [42]:
%%hive 

DROP TABLE datos;
DROP TABLE ordenado;
DROP TABLE data;

DROP TABLE datos;
OK
Time taken: 9.367 seconds
DROP TABLE ordenado;
OK
Time taken: 0.112 seconds
DROP TABLE data;
OK
Time taken: 0.091 seconds