In [1]:
%load_ext bigdata
%hive_start
%timeout 300

In [16]:
!hdfs dfs -rm -r -f /tmp/output

In [17]:
!hdfs dfs -mkdir /tmp/output

In [18]:
!hdfs dfs -copyFromLocal tbl0.csv /tmp/output/

In [19]:
%%hive

DROP TABLE IF EXISTS tbl0;
CREATE TABLE tbl0 (
    c1 INT,
    c2 STRING,
    c3 INT,
    c4 DATE,
    c5 ARRAY<CHAR(1)>,
    c6 MAP<STRING, INT>
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';

LOAD DATA LOCAL INPATH 'tbl0.csv' INTO TABLE tbl0;

DROP TABLE IF EXISTS tbl0;
OK
Time taken: 0.089 seconds
CREATE TABLE tbl0 (
    c1 INT,
    c2 STRING,
    c3 INT,
    c4 DATE,
    c5 ARRAY<CHAR(1)>,
    c6 MAP<STRING, INT>
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
OK
Time taken: 0.067 seconds
LOAD DATA LOCAL INPATH 'tbl0.csv' INTO TABLE tbl0;
Loading data to table default.tbl0
OK
Time taken: 0.645 seconds

In [25]:
%%hive

DROP TABLE IF EXISTS resultado;

CREATE TABLE resultado
AS 
SELECT mayus
FROM(
    SELECT c1,
            collect_list(UPPER(letras)) AS mayus
    FROM tbl0
    LATERAL VIEW explode(c5) tbl0 AS letras
    GROUP BY c1
) t0
;

INSERT OVERWRITE DIRECTORY '/tmp/output'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
SELECT * FROM resultado;

DROP TABLE IF EXISTS resultado;
OK
Time taken: 0.198 seconds
CREATE TABLE resultado
AS
SELECT mayus
FROM(
    SELECT c1,
            collect_list(UPPER(letras)) AS mayus
    FROM tbl0
    LATERAL VIEW explode(c5) tbl0 AS letras
    GROUP BY c1
) t0
;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200118230634_72c02737-153c-4b26-be7d-9620bf3df920
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1579385130637_0006, Tracking URL = http://282e0d2d9a5d:8088/proxy/application_1579385130637_0006/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1579385130637_0006
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2020-01-18 23:06:42,657 Stage-1 map = 0%,  reduce = 0%
2020-01-18 23:06:48,097 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 2.64 sec
2020-01-18 23:06:55,624 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 5.77 sec
MapReduce Total cumulative CPU time: 5 seconds 770 msec
Ended Job = job_1579385130637_0006
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/resultado
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 5.77 sec   HDFS Read: 12249 HDFS Write: 141 SUCCESS
Total MapReduce CPU Time Spent: 5 seconds 770 msec
OK
Time taken: 22.404 seconds
INSERT OVERWRITE DIRECTORY '/tmp/output'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
SELECT * FROM resultado;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200118230657_e374bfa0-48c5-4127-8d67-dc344e720a9a
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks is set to 0 since there's no reduce operator
Starting Job = job_1579385130637_0007, Tracking URL = http://282e0d2d9a5d:8088/proxy/application_1579385130637_0007/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1579385130637_0007
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 0
2020-01-18 23:07:10,426 Stage-1 map = 0%,  reduce = 0%
2020-01-18 23:07:17,112 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 1.75 sec
MapReduce Total cumulative CPU time: 1 seconds 750 msec
Ended Job = job_1579385130637_0007
Stage-3 is selected by condition resolver.
Stage-2 is filtered out by condition resolver.
Stage-4 is filtered out by condition resolver.
Moving data to directory hdfs://0.0.0.0:9000/tmp/output/.hive-staging_hive_2020-01-18_23-06-57_453_4246792588094032035-1/-ext-10000
Moving data to directory /tmp/output
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1   Cumulative CPU: 1.75 sec   HDFS Read: 3596 HDFS Write: 68 SUCCESS
Total MapReduce CPU Time Spent: 1 seconds 750 msec
OK
Time taken: 20.775 seconds

In [26]:
!hdfs dfs -copyToLocal /tmp/output output;

In [27]:
%%hive
DROP TABLE resultado;

DROP TABLE resultado;
OK
Time taken: 0.189 seconds

In [28]:
%hive_quit