In [1]:
%load_ext bigdata
%hive_start
%timeout 300

In [2]:
!hdfs dfs -rm -r -f /tmp/output

Deleted /tmp/output

In [3]:
!hdfs dfs -mkdir /tmp/output

In [4]:
!hdfs dfs -copyFromLocal data.tsv /tmp/output/

In [5]:
%%hive
DROP TABLE IF EXISTS t0;
CREATE TABLE t0 (
    c1 STRING,
    c2 ARRAY<CHAR(1)>, 
    c3 MAP<STRING, INT>
    )
    ROW FORMAT DELIMITED 
        FIELDS TERMINATED BY '\t'
        COLLECTION ITEMS TERMINATED BY ','
        MAP KEYS TERMINATED BY '#'
        LINES TERMINATED BY '\n';
LOAD DATA LOCAL INPATH 'data.tsv' INTO TABLE t0;

DROP TABLE IF EXISTS t0;
OK
Time taken: 14.37 seconds
CREATE TABLE t0 (
    c1 STRING,
    c2 ARRAY<CHAR(1)>,
    c3 MAP<STRING, INT>
    )
    ROW FORMAT DELIMITED
        FIELDS TERMINATED BY '\t'
        COLLECTION ITEMS TERMINATED BY ','
        MAP KEYS TERMINATED BY '#'
        LINES TERMINATED BY '\n';
OK
Time taken: 4.247 seconds
LOAD DATA LOCAL INPATH 'data.tsv' INTO TABLE t0;
Loading data to table default.t0
OK
Time taken: 1.162 seconds

In [10]:
%%hive

DROP TABLE IF EXISTS resultado;

CREATE TABLE resultado
AS
SELECT  letra,
        key,
        COUNT(letra)
FROM(
    SELECT letra,
            key
    FROM 
    t0 LATERAL VIEW explode (c2) t0 AS letra
    LATERAL VIEW explode (c3) t0 AS key, val
) t 

GROUP BY
    letra, 
    key
;

INSERT OVERWRITE DIRECTORY '/tmp/output'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
SELECT * FROM resultado;

DROP TABLE IF EXISTS resultado;
OK
Time taken: 0.011 seconds
CREATE TABLE resultado
AS
SELECT  letra,
        key,
        COUNT(letra)
FROM(
    SELECT letra,
            key
    FROM
    t0 LATERAL VIEW explode (c2) t0 AS letra
    LATERAL VIEW explode (c3) t0 AS key, val
) t
GROUP BY
    letra,
    key
;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200119014413_5987cddf-39dd-4f9c-8d50-3f69986848a2
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1579385130637_0026, Tracking URL = http://282e0d2d9a5d:8088/proxy/application_1579385130637_0026/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1579385130637_0026
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2020-01-19 01:44:28,227 Stage-1 map = 0%,  reduce = 0%
2020-01-19 01:44:34,750 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 2.01 sec
2020-01-19 01:44:40,252 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 3.94 sec
MapReduce Total cumulative CPU time: 3 seconds 940 msec
Ended Job = job_1579385130637_0026
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/resultado
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 3.94 sec   HDFS Read: 14534 HDFS Write: 647 SUCCESS
Total MapReduce CPU Time Spent: 3 seconds 940 msec
OK
Time taken: 28.88 seconds
INSERT OVERWRITE DIRECTORY '/tmp/output'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
SELECT * FROM resultado;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200119014442_e4789bf4-f768-48b3-8dd7-690ac130280b
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks is set to 0 since there's no reduce operator
Starting Job = job_1579385130637_0027, Tracking URL = http://282e0d2d9a5d:8088/proxy/application_1579385130637_0027/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1579385130637_0027
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 0
2020-01-19 01:44:54,763 Stage-1 map = 0%,  reduce = 0%
2020-01-19 01:45:00,173 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 1.55 sec
MapReduce Total cumulative CPU time: 1 seconds 550 msec
Ended Job = job_1579385130637_0027
Stage-3 is selected by condition resolver.
Stage-2 is filtered out by condition resolver.
Stage-4 is filtered out by condition resolver.
Moving data to directory hdfs://0.0.0.0:9000/tmp/output/.hive-staging_hive_2020-01-19_01-44-42_305_7317768528260937235-1/-ext-10000
Moving data to directory /tmp/output
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1   Cumulative CPU: 1.55 sec   HDFS Read: 4214 HDFS Write: 573 SUCCESS
Total MapReduce CPU Time Spent: 1 seconds 550 msec
OK
Time taken: 19.02 seconds

In [13]:
!hdfs dfs -copyToLocal /tmp/output output;

In [14]:
%%hive
DROP TABLE resultado;

DROP TABLE resultado;
OK
Time taken: 0.115 seconds

In [15]:
%hive_quit