In [1]:
%load_ext bigdata
%hive_start
%timeout 300

In [2]:
!hdfs dfs -mkdir /tmp/output

In [3]:
!hdfs dfs -copyFromLocal tbl0.csv /tmp/output/

In [4]:
%%hive

DROP TABLE IF EXISTS tbl0;
CREATE TABLE tbl0 (
    c1 INT,
    c2 STRING,
    c3 INT,
    c4 DATE,
    c5 ARRAY<CHAR(1)>,
    c6 MAP<STRING, INT>
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';

LOAD DATA LOCAL INPATH 'tbl0.csv' INTO TABLE tbl0;

DROP TABLE IF EXISTS tbl0;
OK
Time taken: 9.83 seconds
CREATE TABLE tbl0 (
    c1 INT,
    c2 STRING,
    c3 INT,
    c4 DATE,
    c5 ARRAY<CHAR(1)>,
    c6 MAP<STRING, INT>
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
OK
Time taken: 1.001 seconds
LOAD DATA LOCAL INPATH 'tbl0.csv' INTO TABLE tbl0;
Loading data to table default.tbl0
OK
Time taken: 1.432 seconds

In [5]:
%%hive
DROP TABLE IF EXISTS resultado;

CREATE TABLE resultado 
AS
SELECT  ano,
        letra,
        COUNT(letra)
FROM (
        SELECT 
            YEAR(c4) AS ano,
            letra
        FROM
            tbl0
        LATERAL VIEW explode(c5) tbl0 AS letra
    ) t0

GROUP BY ano, letra;

INSERT OVERWRITE DIRECTORY '/tmp/output'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
SELECT * FROM resultado;

DROP TABLE IF EXISTS resultado;
OK
Time taken: 0.009 seconds
CREATE TABLE resultado
AS
SELECT  ano,
        letra,
        COUNT(letra)
FROM (
        SELECT
            YEAR(c4) AS ano,
            letra
        FROM
            tbl0
        LATERAL VIEW explode(c5) tbl0 AS letra
    ) t0
GROUP BY ano, letra;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200118220723_e7b982a8-6a4b-4525-a6fc-2de19dd7e856
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1579385130637_0001, Tracking URL = http://282e0d2d9a5d:8088/proxy/application_1579385130637_0001/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1579385130637_0001
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2020-01-18 22:07:39,494 Stage-1 map = 0%,  reduce = 0%
2020-01-18 22:07:47,574 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 3.45 sec
2020-01-18 22:07:54,075 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 5.75 sec
MapReduce Total cumulative CPU time: 5 seconds 750 msec
Ended Job = job_1579385130637_0001
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/resultado
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 5.75 sec   HDFS Read: 12842 HDFS Write: 254 SUCCESS
Total MapReduce CPU Time Spent: 5 seconds 750 msec
OK
Time taken: 34.458 seconds
INSERT OVERWRITE DIRECTORY '/tmp/output'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
SELECT * FROM resultado;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200118220758_1eff7752-d338-42c8-b7b1-3bd81ee92851
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks is set to 0 since there's no reduce operator
Starting Job = job_1579385130637_0002, Tracking URL = http://282e0d2d9a5d:8088/proxy/application_1579385130637_0002/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1579385130637_0002
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 0
2020-01-18 22:08:09,270 Stage-1 map = 0%,  reduce = 0%
2020-01-18 22:08:14,744 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 1.67 sec
MapReduce Total cumulative CPU time: 1 seconds 670 msec
Ended Job = job_1579385130637_0002
Stage-3 is selected by condition resolver.
Stage-2 is filtered out by condition resolver.
Stage-4 is filtered out by condition resolver.
Moving data to directory hdfs://0.0.0.0:9000/tmp/output/.hive-staging_hive_2020-01-18_22-07-58_193_7701979598331243917-1/-ext-10000
Moving data to directory /tmp/output
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1   Cumulative CPU: 1.67 sec   HDFS Read: 3813 HDFS Write: 180 SUCCESS
Total MapReduce CPU Time Spent: 1 seconds 670 msec
OK
Time taken: 18.736 seconds

In [6]:
!hdfs dfs -copyToLocal /tmp/output output;

In [7]:
%%hive
DROP TABLE resultado;

DROP TABLE resultado;
OK
Time taken: 0.553 seconds

In [8]:
%hive_quit