In [1]:
%load_ext bigdata
%hive_start
%timeout 300

In [2]:
!hdfs dfs -rm -r -f /tmp/output

Deleted /tmp/output

In [3]:
!hdfs dfs -mkdir /tmp/output

In [4]:
!hdfs dfs -copyFromLocal data.tsv /tmp/output/

In [5]:
%%hive
DROP TABLE IF EXISTS t0;
CREATE TABLE t0 (
    c1 STRING,
    c2 ARRAY<CHAR(1)>, 
    c3 MAP<STRING, INT>
    )
    ROW FORMAT DELIMITED 
        FIELDS TERMINATED BY '\t'
        COLLECTION ITEMS TERMINATED BY ','
        MAP KEYS TERMINATED BY '#'
        LINES TERMINATED BY '\n';
LOAD DATA LOCAL INPATH 'data.tsv' INTO TABLE t0;

DROP TABLE IF EXISTS t0;
OK
Time taken: 9.375 seconds
CREATE TABLE t0 (
    c1 STRING,
    c2 ARRAY<CHAR(1)>,
    c3 MAP<STRING, INT>
    )
    ROW FORMAT DELIMITED
        FIELDS TERMINATED BY '\t'
        COLLECTION ITEMS TERMINATED BY ','
        MAP KEYS TERMINATED BY '#'
        LINES TERMINATED BY '\n';
OK
Time taken: 1.163 seconds
LOAD DATA LOCAL INPATH 'data.tsv' INTO TABLE t0;
Loading data to table default.t0
OK
Time taken: 1.59 seconds

In [10]:
%%hive

DROP TABLE IF EXISTS resultado;

CREATE TABLE resultado
AS
SELECT key,
       COUNT (key)
FROM (
      SELECT key
      FROM  t0 LATERAL VIEW explode(c3) t0 AS key, val
     ) t
GROUP BY key
;

INSERT OVERWRITE DIRECTORY '/tmp/output'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
SELECT * FROM resultado;

DROP TABLE IF EXISTS resultado;
OK
Time taken: 0.008 seconds
CREATE TABLE resultado
AS
SELECT key,
       COUNT (key)
FROM (
      SELECT key
      FROM  t0 LATERAL VIEW explode(c3) t0 AS key, val
     ) t
GROUP BY key
;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200119005444_1bfaec8f-05a6-445d-9c6f-85bff6103962
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1579385130637_0016, Tracking URL = http://282e0d2d9a5d:8088/proxy/application_1579385130637_0016/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1579385130637_0016
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2020-01-19 00:54:54,387 Stage-1 map = 0%,  reduce = 0%
2020-01-19 00:55:00,512 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 2.11 sec
2020-01-19 00:55:07,233 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 4.08 sec
MapReduce Total cumulative CPU time: 4 seconds 80 msec
Ended Job = job_1579385130637_0016
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/resultado
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 4.08 sec   HDFS Read: 12375 HDFS Write: 143 SUCCESS
Total MapReduce CPU Time Spent: 4 seconds 80 msec
OK
Time taken: 24.267 seconds
INSERT OVERWRITE DIRECTORY '/tmp/output'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
SELECT * FROM resultado;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200119005509_491640eb-35a6-4325-b414-b519e4188c98
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks is set to 0 since there's no reduce operator
Starting Job = job_1579385130637_0017, Tracking URL = http://282e0d2d9a5d:8088/proxy/application_1579385130637_0017/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1579385130637_0017
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 0
2020-01-19 00:55:20,795 Stage-1 map = 0%,  reduce = 0%
2020-01-19 00:55:26,296 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 1.63 sec
MapReduce Total cumulative CPU time: 1 seconds 630 msec
Ended Job = job_1579385130637_0017
Stage-3 is selected by condition resolver.
Stage-2 is filtered out by condition resolver.
Stage-4 is filtered out by condition resolver.
Moving data to directory hdfs://0.0.0.0:9000/tmp/output/.hive-staging_hive_2020-01-19_00-55-09_213_4807534763888931970-1/-ext-10000
Moving data to directory /tmp/output
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1   Cumulative CPU: 1.63 sec   HDFS Read: 3406 HDFS Write: 70 SUCCESS
Total MapReduce CPU Time Spent: 1 seconds 630 msec
OK
Time taken: 18.222 seconds

In [11]:
!hdfs dfs -copyToLocal /tmp/output output;

In [12]:
%%hive
DROP TABLE resultado;

DROP TABLE resultado;
OK
Time taken: 0.515 seconds

In [13]:
%hive_quit