In [1]:
%load_ext bigdata
%hive_start
%timeout 300

In [2]:
!hdfs dfs -rm -r -f /tmp/output

Deleted /tmp/output

In [3]:
!hdfs dfs -mkdir /tmp/output

In [4]:
!hdfs dfs -copyFromLocal data.tsv /tmp/output/

In [5]:
%%hive
DROP TABLE IF EXISTS t0;
CREATE TABLE t0 (
    c1 STRING,
    c2 ARRAY<CHAR(1)>, 
    c3 MAP<STRING, INT>
    )
    ROW FORMAT DELIMITED 
        FIELDS TERMINATED BY '\t'
        COLLECTION ITEMS TERMINATED BY ','
        MAP KEYS TERMINATED BY '#'
        LINES TERMINATED BY '\n';
LOAD DATA LOCAL INPATH 'data.tsv' INTO TABLE t0;

DROP TABLE IF EXISTS t0;
OK
Time taken: 11.139 seconds
CREATE TABLE t0 (
    c1 STRING,
    c2 ARRAY<CHAR(1)>,
    c3 MAP<STRING, INT>
    )
    ROW FORMAT DELIMITED
        FIELDS TERMINATED BY '\t'
        COLLECTION ITEMS TERMINATED BY ','
        MAP KEYS TERMINATED BY '#'
        LINES TERMINATED BY '\n';
OK
Time taken: 0.724 seconds
LOAD DATA LOCAL INPATH 'data.tsv' INTO TABLE t0;
Loading data to table default.t0
OK
Time taken: 1.228 seconds

In [25]:
%%hive

DROP TABLE IF EXISTS resultado;

CREATE TABLE resultado
AS
SELECT  c1,
        SIZE (c2),
        SIZE (c3)
FROM t0;

INSERT OVERWRITE DIRECTORY '/tmp/output'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
SELECT * FROM resultado;

DROP TABLE IF EXISTS resultado;
OK
Time taken: 0.011 seconds
CREATE TABLE resultado
AS
SELECT  c1,
        SIZE (c2),
        SIZE (c3)
FROM t0;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200119013103_dcf3c87d-8a26-4758-b08e-86471f0ef40b
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks is set to 0 since there's no reduce operator
Starting Job = job_1579385130637_0024, Tracking URL = http://282e0d2d9a5d:8088/proxy/application_1579385130637_0024/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1579385130637_0024
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 0
2020-01-19 01:31:10,576 Stage-1 map = 0%,  reduce = 0%
2020-01-19 01:31:15,954 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 2.24 sec
MapReduce Total cumulative CPU time: 2 seconds 240 msec
Ended Job = job_1579385130637_0024
Stage-4 is selected by condition resolver.
Stage-3 is filtered out by condition resolver.
Stage-5 is filtered out by condition resolver.
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/.hive-staging_hive_2020-01-19_01-31-03_269_2782946336500989170-1/-ext-10002
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/resultado
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1   Cumulative CPU: 2.24 sec   HDFS Read: 5591 HDFS Write: 314 SUCCESS
Total MapReduce CPU Time Spent: 2 seconds 240 msec
OK
Time taken: 15.344 seconds
INSERT OVERWRITE DIRECTORY '/tmp/output'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
SELECT * FROM resultado;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200119013118_2a8f0f83-a9f9-46fb-b69f-0478918397f5
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks is set to 0 since there's no reduce operator
Starting Job = job_1579385130637_0025, Tracking URL = http://282e0d2d9a5d:8088/proxy/application_1579385130637_0025/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1579385130637_0025
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 0
2020-01-19 01:31:29,113 Stage-1 map = 0%,  reduce = 0%
2020-01-19 01:31:35,580 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 1.5 sec
MapReduce Total cumulative CPU time: 1 seconds 500 msec
Ended Job = job_1579385130637_0025
Stage-3 is selected by condition resolver.
Stage-2 is filtered out by condition resolver.
Stage-4 is filtered out by condition resolver.
Moving data to directory hdfs://0.0.0.0:9000/tmp/output/.hive-staging_hive_2020-01-19_01-31-18_789_5523058446537489666-1/-ext-10000
Moving data to directory /tmp/output
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1   Cumulative CPU: 1.5 sec   HDFS Read: 3692 HDFS Write: 240 SUCCESS
Total MapReduce CPU Time Spent: 1 seconds 500 msec
OK
Time taken: 18.99 seconds

In [26]:
%%hive
SELECT * FROM resultado LIMIT 5;

SELECT * FROM resultado LIMIT 5;
OK
E	3	5
A	3	4
B	4	4
A	2	4
C	4	4
Time taken: 0.212 seconds, Fetched: 5 row(s)

In [27]:
!hdfs dfs -copyToLocal /tmp/output output;

In [28]:
%%hive
DROP TABLE resultado;

DROP TABLE resultado;
OK
Time taken: 0.064 seconds

In [29]:
%hive_quit