In [1]:
%load_ext bigdata
%hive_start
%timeout 300

In [2]:
!hdfs dfs -mkdir /tmp/output

In [3]:
!hdfs dfs -copyFromLocal tbl0.csv /tmp/output/

In [4]:
%%hive

DROP TABLE IF EXISTS tbl0;
CREATE TABLE tbl0 (
    c1 INT,
    c2 STRING,
    c3 INT,
    c4 DATE,
    c5 ARRAY<CHAR(1)>,
    c6 MAP<STRING, INT>
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';

LOAD DATA LOCAL INPATH 'tbl0.csv' INTO TABLE tbl0;

DROP TABLE IF EXISTS tbl0;
OK
Time taken: 10.825 seconds
CREATE TABLE tbl0 (
    c1 INT,
    c2 STRING,
    c3 INT,
    c4 DATE,
    c5 ARRAY<CHAR(1)>,
    c6 MAP<STRING, INT>
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
OK
Time taken: 0.977 seconds
LOAD DATA LOCAL INPATH 'tbl0.csv' INTO TABLE tbl0;
Loading data to table default.tbl0
OK
Time taken: 3.225 seconds

In [15]:
%%hive 

DROP TABLE IF EXISTS resultado;

CREATE TABLE resultado
AS
    SELECT DISTINCT letras
            FROM (SELECT explode (c5) as letras FROM tbl0) t0;

INSERT OVERWRITE DIRECTORY '/tmp/output'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
SELECT * FROM resultado;

DROP TABLE IF EXISTS resultado;
OK
Time taken: 0.09 seconds
CREATE TABLE resultado
AS
    SELECT DISTINCT letras
            FROM (SELECT explode (c5) as letras FROM tbl0) t0;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200118213552_80c73481-be07-40c2-a1bb-cc96a1140fb4
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1579381736580_0003, Tracking URL = http://2b210e8cdf09:8088/proxy/application_1579381736580_0003/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1579381736580_0003
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2020-01-18 21:36:00,761 Stage-1 map = 0%,  reduce = 0%
2020-01-18 21:36:08,459 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 1.79 sec
2020-01-18 21:36:16,093 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 3.71 sec
MapReduce Total cumulative CPU time: 3 seconds 710 msec
Ended Job = job_1579381736580_0003
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/resultado
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 3.71 sec   HDFS Read: 9074 HDFS Write: 83 SUCCESS
Total MapReduce CPU Time Spent: 3 seconds 710 msec
OK
Time taken: 26.642 seconds
INSERT OVERWRITE DIRECTORY '/tmp/output'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
SELECT * FROM resultado;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200118213618_f51773ba-2c79-4e4b-8bda-0bef4248675f
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks is set to 0 since there's no reduce operator
Starting Job = job_1579381736580_0004, Tracking URL = http://2b210e8cdf09:8088/proxy/application_1579381736580_0004/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1579381736580_0004
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 0
2020-01-18 21:36:31,623 Stage-1 map = 0%,  reduce = 0%
2020-01-18 21:36:37,169 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 1.82 sec
MapReduce Total cumulative CPU time: 1 seconds 820 msec
Ended Job = job_1579381736580_0004
Stage-3 is selected by condition resolver.
Stage-2 is filtered out by condition resolver.
Stage-4 is filtered out by condition resolver.
Moving data to directory hdfs://0.0.0.0:9000/tmp/output/.hive-staging_hive_2020-01-18_21-36-18_925_4935981694320706990-1/-ext-10000
Moving data to directory /tmp/output
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1   Cumulative CPU: 1.82 sec   HDFS Read: 3366 HDFS Write: 10 SUCCESS
Total MapReduce CPU Time Spent: 1 seconds 820 msec
OK
Time taken: 20.496 seconds

In [16]:
!hdfs dfs -copyToLocal /tmp/output output;

In [17]:
%%hive
DROP TABLE resultado;

DROP TABLE resultado;
OK
Time taken: 0.174 seconds

In [18]:
%hive_quit