In [3]:
%load_ext bigdata
%hive_start
%timeout 300

In [1]:
!hdfs dfs -mkdir /tmp/output

In [2]:
!hdfs dfs -copyFromLocal data.tsv /tmp/output/

In [4]:
%%hive

DROP TABLE IF EXISTS datos;

CREATE TABLE datos (letra       STRING,
                   fecha       STRING,
                   numero      INT
                  )

ROW FORMAT DELIMITED FIELDS TERMINATED BY '\t';

DROP TABLE IF EXISTS datos;
OK
Time taken: 10.836 seconds
CREATE TABLE datos (letra       STRING,
                   fecha       STRING,
                   numero      INT
                  )
ROW FORMAT DELIMITED FIELDS TERMINATED BY '\t';
OK
Time taken: 0.955 seconds

In [5]:
%%hive
LOAD DATA INPATH '/tmp/output/data.tsv' OVERWRITE
INTO TABLE datos;

LOAD DATA INPATH '/tmp/output/data.tsv' OVERWRITE
INTO TABLE datos;
Loading data to table default.datos
OK
Time taken: 1.415 seconds

In [6]:
%%hive 
SELECT * FROM datos LIMIT 5;

SELECT * FROM datos LIMIT 5;
OK
B	1999-08-28	14
E	1999-12-06	12
E	1993-07-21	17
C	1991-02-12	13
E	1995-04-25	16
Time taken: 1.905 seconds, Fetched: 5 row(s)

In [12]:
%%hive
DROP TABLE IF EXISTS resultado;

CREATE TABLE resultado
AS
SELECT DISTINCT numero FROM datos 
    ORDER BY numero LIMIT 5;

INSERT OVERWRITE DIRECTORY '/tmp/output'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
SELECT * FROM resultado;

DROP TABLE IF EXISTS resultado;
OK
Time taken: 0.072 seconds
CREATE TABLE resultado
AS
SELECT DISTINCT numero FROM datos
    ORDER BY numero LIMIT 5;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200118201301_6c51e4d6-b8a9-4c29-8c5e-92b4006fcfeb
Total jobs = 2
Launching Job 1 out of 2
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1579377682907_0006, Tracking URL = http://4b9ee02a1623:8088/proxy/application_1579377682907_0006/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1579377682907_0006
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2020-01-18 20:13:09,936 Stage-1 map = 0%,  reduce = 0%
2020-01-18 20:13:16,352 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 1.52 sec
2020-01-18 20:13:21,708 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 2.87 sec
MapReduce Total cumulative CPU time: 2 seconds 870 msec
Ended Job = job_1579377682907_0006
Launching Job 2 out of 2
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1579377682907_0007, Tracking URL = http://4b9ee02a1623:8088/proxy/application_1579377682907_0007/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1579377682907_0007
Hadoop job information for Stage-2: number of mappers: 1; number of reducers: 1
2020-01-18 20:13:36,155 Stage-2 map = 0%,  reduce = 0%
2020-01-18 20:13:41,548 Stage-2 map = 100%,  reduce = 0%, Cumulative CPU 1.21 sec
2020-01-18 20:13:47,976 Stage-2 map = 100%,  reduce = 100%, Cumulative CPU 3.55 sec
MapReduce Total cumulative CPU time: 3 seconds 550 msec
Ended Job = job_1579377682907_0007
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/resultado
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 2.87 sec   HDFS Read: 7348 HDFS Write: 186 SUCCESS
Stage-Stage-2: Map: 1  Reduce: 1   Cumulative CPU: 3.55 sec   HDFS Read: 4845 HDFS Write: 85 SUCCESS
Total MapReduce CPU Time Spent: 6 seconds 420 msec
OK
Time taken: 48.322 seconds
INSERT OVERWRITE DIRECTORY '/tmp/output'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
SELECT * FROM resultado;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200118201349_21f7b907-822d-4801-83fa-9d757fc1e23f
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks is set to 0 since there's no reduce operator
Starting Job = job_1579377682907_0008, Tracking URL = http://4b9ee02a1623:8088/proxy/application_1579377682907_0008/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1579377682907_0008
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 0
2020-01-18 20:14:00,552 Stage-1 map = 0%,  reduce = 0%
2020-01-18 20:14:06,964 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 1.55 sec
MapReduce Total cumulative CPU time: 1 seconds 550 msec
Ended Job = job_1579377682907_0008
Stage-3 is selected by condition resolver.
Stage-2 is filtered out by condition resolver.
Stage-4 is filtered out by condition resolver.
Moving data to directory hdfs://0.0.0.0:9000/tmp/output/.hive-staging_hive_2020-01-18_20-13-49_703_6985471071429666857-1/-ext-10000
Moving data to directory /tmp/output
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1   Cumulative CPU: 1.55 sec   HDFS Read: 3206 HDFS Write: 12 SUCCESS
Total MapReduce CPU Time Spent: 1 seconds 550 msec
OK
Time taken: 18.385 seconds

In [13]:
!hdfs dfs -copyToLocal /tmp/output output;

In [16]:
%hive_quit

In [18]:
%%hive
DROP TABLE datos;
DROP TABLE resultado;

DROP TABLE datos;
OK
Time taken: 0.026 seconds
DROP TABLE resultado;
OK
Time taken: 0.108 seconds